 <!-- BTN -->
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <a href="projet" class="btn btn-primary rounded-pill px-4 fw-bold fs-5 shadow-sm">Portfolio</a>
    </div>
</div>


<!-- Presentation card -->
                <div class="container">
                    <div class="row mb-5 justify-content-center g-5">
                        <!-- Project 1 -->
                        <div class="col-12 col-md-5">
                             <div class="card border-0 rounded-5 m-1 h-100">
                                <img src="../../assets/img/portfolio.png" class="w-100" alt="Mon Portfolio">
                                <div class="card-body fs-6">
                                    <h5 class="card-title fw-bold">Mon Portfolio</h5>
                                    <p class="card-text">12/25</p>
                                    <p class="card-text">Bienvenue sur mon portfolio ! Il présente les projets digitaux auxquels j'ai contribué, de la conception à la livraison. Ils sont organisés par catégorie: design, site web, application, et communication digitale. Chaque projet illustre mon processus de travail. Ce portfolio est lui-même un projet personnel, conçu et réalisé de A à Z.</p>
                                    <a href="../website/monPortfolio/index.html" class="btn btn-primary w-50 p-2 mt-1 rounded-pill shadow-sm fw-bold">Voir le projet</a>
                                </div>
                            </div>
                        </div>
                        <!-- Project 2 -->
                        <div class="col-12 col-md-5">
                             <div class="card border-0 rounded-5 m-1 h-100">
                                <img src="../../assets/img/casque-vr.jpg" class="w-100" alt="VR-Hut">
                                <div class="card-body mt-md-3">
                                    <h5 class="card-title fw-bold">VR-Hut</h5>
                                    <p class="card-text">05/23</p>
                                    <p class="card-text">VR-Hut est un centre de réalité virtuelle, situé à Waterloo, en Brabant Wallon. Seul(e), en duo ou en groupe, vous pouvez y vivre des expériences immersives grâce à des casques VR. Le centre propose un large choix d'activités: jeux pour enfants, aventures, jeux d'action, escape games en réalité virtuelle…</p>
                                    <a href="./vr-hut/index.html" class="btn btn-primary w-50 p-2 mt-1 rounded-pill shadow-sm fw-bold">Voir le projet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>


            
        <!-- Project Card -->
                <div class="container">
                    <div class="row mb-5 justify-content-center">
                        <div class="col-12 col-md-8">
                             <div class="card-project border-0 rounded-5 m-1">
                                <div class="card-intro text-center mb-5 bg-danger">
                                    <img src="../../../assets/img/portfolio.png" class="w-50 d-block mx-auto mb-4" alt="Mon Portfolio">
                                    <p class="card-intro">Projet personnel • Type: Prototype • Outil: Figma</p> 
                                </div>
                               
                                <div class="card-body w bg-danger">
                                    <div class="client mb-5">
                                        <h6 class="card-subtitle fw-bold mb-2">Client</h6>
                                        <p class="card-text">
                                        
                                        </p>
                                    </div>

                                    <div class="mission mb-5">
                                        <h6 class="card-subtitle fw-bold mb-2">Mission</h6>
                                        <p class="card-text">
                                 
                                        </p>
                                    </div>

                                    <div class="results mb-5">
                                        <h6 class="card-subtitle fw-bold mb-2">Résultats</h6>
                                        <p class="card-text">
                                     
                                        </p>
                                    </div>
                                   
                                    <a href="#" class="btn btn-primary mt-1 rounded-pill shadow-sm">Voir le projet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


<!-- BTN Project -->

<div class="d-flex justify-content-center gap-4">
    <div class="button col-auto text-center mb-2">
        <a href="#" target="_blank" class="btn btn-primary px-md-5 py-2 mt-1 fw-bold rounded-pill shadow-sm fw-bold">
            Voir le site
        </a>
    </div>

    <div class="button col-auto text-center">
        <a href="#" target="_blank" class="btn btn-primary px-md-5 py-2 mt-1 fw-bold rounded-pill shadow-sm fw-bold">
            Voir le code
        </a>
    </div>
</div>