 <!-- Footer -->
    <footer class="border-top mt-5">
        <div class="container py-4">
            <div class="row gy-2 gy-md-0 align-items-end">
                <div class="col-12 col-md-4 small">© 2026 Freesia Michaux</div>
                <!-- Icons links -->
                <div class="col-12 col-md-4 text-md-center mt-3 mt-md-0">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="mailto:freesia.michaux@outlook.com" class="icon-link" rel="noopener noreferrer" aria-label="Envoyer un mail">
                                <i class="bi bi-envelope-fill fs-4"></i>
                            </a>
                        </li>
                         <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/freesiamichaux/" target="_blank" class="icon-link" rel="noopener noreferrer" aria-label="Lien LinkedIn">
                                <i class="bi bi-linkedin fs-4"></i>
                            </a>
                        </li>
                         <li class="list-inline-item">
                            <a href="https://github.com/freesiamichaux" target="_blank" class="icon-link" rel="noopener noreferrer" aria-label="Lien GitHub">
                                <i class="bi bi-github fs-4"></i>
                            </a>
                        </li>
                    </ul>
                </div>
               
                <div class="col-12 col-md-4 text-md-end"> 
                    <!-- Email -->
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mb-md-3">
                           <a href="mailto:freesia.michaux@outlook.com" class="email-link text-decoration-none small" target="_blank" rel="noopener noreferrer">freesia.michaux@outlook.com</a> 
                        </li>
                    </ul>
                    <!-- Legal footer -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                           <a href="./legal/mentions-legales.html" class="text-decoration-none footer-legal legal-link small" target="_blank" rel="noopener noreferrer">Mentions légales</a>
                        </li>  
                        
                        <li class="list-inline-item">
                           <a href="./legal/politique-confidentialite.html" class="text-decoration-none legal-link small" target="_blank" rel="noopener noreferrer">Politique de confidentialité</a>
                        </li>   
                    </ul>                    
                </div>
            </div>
        </div>
    </footer>